.menu {
  text-align: center;
  background: #f8b24f;
  padding: 20px;
}

.menu a {
  padding: 10px 40px;
  margin: 10px;
  color: black;
  text-decoration: none;
  background: #ea9a96;
  border-radius: 5px;
}
